@model NakshiShop.Models.Product 

<button class="close" data-bs-dismiss="modal">&times;</button>
                <div class="row learts-mb-n30">

                    <!-- Product Images Start -->
                    <div class="col-lg-6 col-12 learts-mb-30">
                        <div class="product-images">
                            <div class="product-gallery-slider-quickview">
                                <div class="product-zoom" data-image="@(Model.ImagePath.StartsWith("http")? Model.ImagePath:"/img/"+Model.ImagePath)">
                                    <img src="@(Model.ImagePath.StartsWith("http")? Model.ImagePath:"/img/"+Model.ImagePath)" alt="">
                                   
                                </div>
                                
                                @*<div class="product-zoom" data-image="/assets/images/product/single/1/product-zoom-2.webp">
                                    <img src="~/assets/images/product/single/1/product-2.webp" alt="">
                                </div>
                                <div class="product-zoom" data-image="/assets/images/product/single/1/product-zoom-3.webp">
                                    <img src="~/assets/images/product/single/1/product-3.webp" alt="">
                                </div>
                                <div class="product-zoom" data-image="/assets/images/product/single/1/product-zoom-4.webp">
                                    <img src="~/assets/images/product/single/1/product-4.webp" alt="">
                                </div>*@
                            </div>
                        </div>
                    </div>
                    <!-- Product Images End -->

                    <!-- Product Summery Start -->
                    <div class="col-lg-6 col-12 overflow-hidden position-relative learts-mb-30">
                        <div class="product-summery customScroll">
                            @*<div class="product-ratings">
                                <span class="star-rating">
                                <span class="rating-active" style="width: 100%;">ratings</span>
                                </span>
                                <a href="#reviews" class="review-link">(<span class="count">3</span> customer reviews)</a>
                            </div>*@
                            <h3 class="product-title">Cleaning Dustpan & Brush</h3>
                            <div class="product-price">BDT @Model.Price</div>
                            <div class="product-description">
                                <p>@Model.Description</p>
                            </div>
                            <div class="product-variations">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="label"><span>Size</span></td>
                                            <td class="value">
                                                <div class="product-sizes">
                                                    <a href="#">@Model.Size</a>
                                                    
                                                </div>
                                            </td>
                                        </tr>
                                       @* <tr>
                                            <td class="label"><span>Color</span></td>
                                            <td class="value">
                                                <div class="product-colors">
                                                    <a href="#" data-bg-color="#000000"></a>
                                                    <a href="#" data-bg-color="#ffffff"></a>
                                                </div>
                                            </td>
                                        </tr>*@
                                        <tr>
                                            <td class="label"><span>Quantity</span></td>
                                            <td class="value">
                                                <div class="product-quantity">
                                                    <span class="qty-btn minus"><i class="ti-minus"></i></span>
                                                    <input type="text" class="input-qty" value="1">
                                                    <span class="qty-btn plus"><i class="ti-plus"></i></span>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="product-buttons">
                                @*<a href="#" class="btn btn-icon btn-outline-body btn-hover-dark"><i class="fal fa-heart"></i></a>*@
                                <a href="#" class="btn btn-dark btn-outline-hover-dark"><i class="fal fa-shopping-cart"></i> Add to Cart</a>
                                @*<a href="#" class="btn btn-icon btn-outline-body btn-hover-dark"><i class="fal fa-random"></i></a>*@
                            </div>
                            @*<div class="product-brands">
                                <span class="title">Brands</span>
                                <div class="brands">
                                    <a href="#"><img src="~/assets/images/brands/brand-3.webp" alt=""></a>
                                    <a href="#"><img src="~/assets/images/brands/brand-8.webp" alt=""></a>
                                </div>
                            </div>*@
                          @*  <div class="product-meta mb-0">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="label"><span>SKU</span></td>
                                            <td class="value">0404019</td>
                                        </tr>
                                        <tr>
                                            <td class="label"><span>Category</span></td>
                                            <td class="value">
                                                <ul class="product-category">
                                                    <li><a href="#">@Model.Catagory</a></li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="label"><span>Tags</span></td>
                                            <td class="value">
                                                <ul class="product-tags">
                                                     <li><a href="#">handmade</a></li>
                                                <li><a href="#">nakshi</a></li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="label"><span>Share on</span></td>
                                            <td class="value">
                                                <div class="product-share">
                                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                                    <a href="#"><i class="fab fa-google-plus-g"></i></a>
                                                    <a href="#"><i class="fab fa-pinterest"></i></a>
                                                    <a href="#"><i class="fal fa-envelope"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>*@
                        </div>
                    </div>
                    <!-- Product Summery End -->

                </div>